
body {
    margin: 0;
}
/* Header */
.hat {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}

header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: roboto, sans-serif;   
    display: flex;
    align-items: center;
    padding: 0px 10px;
 
}

ul {
    color: #E5E7EB;
    list-style-type: none;
    font-family: roboto, sans-serif;  
    display: flex;
    gap: 20px;  
    padding: 10px 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: inherit;
  }

/* torso */

