
body {
    margin: 0;
    font-family: roboto, sans-serif;   
}
/* Header */

.hat {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 300px;
}

header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: roboto, sans-serif;   
    display: flex;
    align-items: center;
    padding: 0px 10px;
 
}

ul {
    color: #E5E7EB;
    list-style-type: none;
    font-family: roboto, sans-serif;  
    display: flex;
    gap: 20px;  
    padding: 10px 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: inherit;
  }

/* torso */

* {
    border: 1px solid lightblue;
}

.torso {
    display: flex;
    justify-content: space-between;
    padding: 100px 300px;
    background-color: #1F2937;
}

.heroleftbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sidekick {
    font-size: 18px;
    color: #E5E7EB;
}


button {
    width: 100px;
}

.heroimage {
   width: 500px;
   height: 300px;
}

.heroimage img {
    max-height: 100%;
    max-width: 100%;
}
