
body {
    margin: 0;
    font-family: roboto, sans-serif;   

}

.introalign {
    display: flex;
    flex-direction: column;
    padding: 0px 250px;
    background-color:  #1F2937;
}

/* Header */

.hat {
    display: flex;
    justify-content: space-between;
}

header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: roboto, sans-serif;   
    display: flex;
    align-items: center;
 
}

ul {
    color: #E5E7EB;
    list-style-type: none;
    font-family: roboto, sans-serif;  
    display: flex;
    gap: 20px;  
    padding: 10px 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: inherit;
  }

/* torso */

.torso {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.heroleftbox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 450px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sidekick {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: 125px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border-style: solid;
    border-color: #3882F6;
}

.heroimage {
    display: flex;
    width: 550px;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
    color: white;
}
